@import "tailwindcss";


:root {
  --bg: #f3f4fb;
  --text: #111827;
  --muted: #6b7280;
  --accent: #6d5cff;
}

body{
  background: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
}
